.row {
    display: flex;

    &--wrap {
        @extend .row;
        flex-wrap: wrap;
    }

    &--space {
        justify-content: space-around;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 100% / 12 * $i;
    }
}

@for $i from 1 through 12 {
    .col-offset-#{$i} {
        margin-left: 100% / 12 * $i;
    }
}
