.side {
    position: absolute;
    top: 15%;
    left: 5%;

    &__list {
        color: $color-grey;
        margin: 0rem;
        padding: 5% 0 5% 1.23rem;
        border-left: 1px solid $color-grey;
        counter-reset: section;

        &-item {
            cursor: pointer;
            list-style: none;
            position: relative;
            margin: 10vh 0 10vh 0;
            color: $background-color;
            transition: color .4s;
            font-size: 1.6rem;

            &::before {
                content: "\2022";
                color: $color-white;
                font-weight: bold;
                display: inline-block;
                margin-left: -1.6rem;
                padding-right: 1rem;
            }

            &::after {
                pointer-events: none;
                counter-increment: section;
                content: "0" counter(section) " ";
                position: absolute;
                font-size: 1.4rem;
                color: $color-grey;
                left: 0;
                top: .3rem;
                transition: color .4s, left .4s;
            }

            &--focus {
                color: $color-white;
                
                &::after{
                    color: $color-white;
                    left: -5rem;
                }

                &::before{
                    color: $color-blue;
                }
            }

        }

    }

    @include for-size(desktop) {
        display: none;
    }

}