.navigation {

    &__content {
        color: $color-white;
        position: absolute;
        top: 10%;
        left: 80%;
        text-align: center;
        visibility: hidden;
        pointer-events: none;

        @include for-size(tablet) {
            top: 20%;
            left: 70%;
        }
        
        &--show {
            visibility: visible;
            pointer-events: all;

            ul {
                li {
                    transform: translate(-20rem,10rem);
                }

                @for $i from 1 through 5 {
                    li:nth-child(#{$i}) {
                        transition-delay: $i * .04 + s;
                    }
                }
            }
        }

        ul {
            list-style: none;

            li {
                cursor: pointer;
                position: relative;
                text-transform: capitalize;
                font-weight: 900;
                font-size: 6rem;
                margin-top: 1rem;
                transition: .3s transform ease-out;

                li::before {
                    transition: .4s width; 
                }
            }
        }
    }

    &__selected {

        &::before {
            content: "";
            position: absolute;
            top: 45%;
            left: -5%;
            width: 110%;
            height: 1.3rem;
            background-color: blue;
        }

    }

}