.navigation {
    color: $color-white;
    position: absolute;
    top: 15%;
    left: 55%;
    text-align: center;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;

    @include for-size(tablet) {
        top: 30%;
        left: 55%;
    }

    ul {
        list-style: none;

        li {
            cursor: pointer;
            position: relative;
            text-transform: capitalize;
            font-weight: 900;
            font-size: 6rem;
            margin-top: 1rem;
            transition: .3s transform ease-out;
            transform: translate(100%,-50%);

            @include for-size(tablet) {
                font-size: 4rem;
                margin-top: .5rem;
            }

            li::before {
                transition: .4s width; 
            }
        }
    }
    

    &__selected {
        &::before {
            content: "";
            position: absolute;
            top: 45%;
            left: -5%;
            width: 110%;
            height: 1.3rem;
            background-color: blue;
        }

    }

}

.navigation--show {
    visibility: visible;
    pointer-events: all;

    ul {
        li {
            transform: translate(0%,0%);
        }

        @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
                transition-delay: $i * .04 + s;
            }
        }
    }
}